/* Notice訊息 */
.ivu-notice-title{
  font-size: 18px !important;
}
.ivu-notice-desc {
  font-size: 16px !important;  
}

/* Confirm */
.ivu-modal-confirm-head-title{
  font-size: 18px !important;  
}
.ivu-modal-confirm-body{
  font-size: 16px !important;  
}
/* RadioButton */
.ivu-radio-group-button.ivu-radio-group-large .ivu-radio-wrapper {
  height: 36px;
  line-height: 34px;
  font-size: 14px;
  margin: 5px;
}
.ivu-radio-group-button .ivu-radio-wrapper:first-child {
  border-radius: 0px 0px 0px 0px;
  border-left: 1px solid #ccc;
}
.ivu-radio-group-button .ivu-radio-wrapper {
  display: inline-block;
  height: 32px;
  line-height: 30px;
  margin: 0;
  padding: 0 5px;
  font-size: 12px;
  color: #495060;
  transition: all .2s ease-in-out;
  cursor: pointer;
  border: 1px solid #ccc;
  background: #fff;
}
.ivu-radio-group-button .ivu-radio-wrapper-checked {
  background: #2d8cf0;
  border-color: #2d8cf0;
  color: #f9f9fa;
  box-shadow: -1px 0 0 0 #2d8cf0;
}

.ivu-radio-group-button .ivu-radio-wrapper-checked:hover {
  border-color: #57a3f3;
  box-shadow: -1px 0 0 0 #57a3f3;
  color: #f3f3f3;
}
.ivu-radio-group-button .ivu-radio-wrapper:last-child {
  border-radius: 0 0px 0px 0;
}
/* 下拉 */
.ivu-select-selection{
 border: 0px solid #dddee1;
}
.ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-single .ivu-select-selection .ivu-select-selected-value {
  font-size: 20px !important;
  border: 1px solid #8c8d8e;
  border-radius: 4px;
}
.ivu-select-item{
  font-size: 16px !important;
}